aio_pika
aiohttp
fastapi
fitz
langchain
langchain_community
langchain_core
langchain_milvus
langchain_text_splitters
miniopy_async
numpy
openai
Pillow
protobuf
pydantic
pymilvus
pymilvus_model
pytesseract
scikit_learn
tiktoken
uvicorn